<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ bootstrap.load_css() }}
    {% block head %}{% endblock %}
</head>
<body>
    {% from 'bootstrap5/nav.html' import render_nav_item %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index.render_page_index', 'Index') }}
            {{ render_nav_item('auth.login', 'Login') }}
            {{ render_nav_item('auth.sing_up', 'Sing up') }}
            {{ render_nav_item('menu.create_menu', 'Create menu') }}
            {{ render_nav_item('menu.create_menu_date', 'Create menu date', date='2023-12-01') }}
            {{ render_nav_item('menu.recipe', 'Recipe', recipe_id=123) }}
            {{ render_nav_item('menu.blacklist', 'Blacklist') }}
            {{ render_nav_item('menu.history', 'History') }}
            {{ render_nav_item('auth.profile', 'Profile') }}
        </div>
    </nav>

    {% block body %}{% endblock %}
    {{ bootstrap.load_js() }}
</body>
</html>