<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ bootstrap.load_css() }}
    {% block head %}{% endblock %}
</head>
<body>
    {% from 'bootstrap5/nav.html' import render_nav_item %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index.render_page_index', 'Index') }}
            {{ render_nav_item('auth.login', 'Login') }}
            {{ render_nav_item('auth.sing_up', 'Sing up') }}
            {{ render_nav_item('auth.logout', 'Log out') }}
            {{ render_nav_item('menu.create_menu_view', 'Menu') }}
            {{ render_nav_item('menu.history', 'History') }}
            {{ render_nav_item('auth.profile', 'Profile') }}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container w-50 p-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
    {{ bootstrap.load_js() }}
</body>
</html>