{%  extends 'base.html' %}

{% block head %}
    <title>Create menu</title>
{% endblock %}

{% block body %}
    <div class="container w-50 p-3">
        <h1 class="mx-auto text-center p-2">Create menu</h1>

        {% from "_formhelpers.html" import render_field %}
        <form method="post">
          {{ render_field(form.date) }}
          {{ render_field(form.n_days_ago) }}
          {{ render_field(form.min_calories) }}
          {{ render_field(form.max_calories) }}
          {{ render_field(form.min_proteins) }}
          {{ render_field(form.max_proteins) }}
          {{ render_field(form.min_fats) }}
          {{ render_field(form.max_fats) }}
          {{ render_field(form.min_carbohydrates) }}
          {{ render_field(form.max_carbohydrates) }}
          <div class="form-group">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Generate menu</button>
          </div>
        </form>
    </div>
{% endblock %}