{% extends 'base.html' %}

{% block head %}
    <title>History for {{ date }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 col-md-12">
                <h1 class="mt-4 mb-4 text-center">History for {{ date }}</h1>

                <form method="get">
                    <div class="input-group">
                        <a class="btn btn-primary" href="{{ url_for('menu.history', date=prev_date) }}">Previous Day</a>
                        <input type="date" aria-label="Date" class="form-control" id="date" name="date" value="{{ date }}" required>
                        <button class="btn btn-secondary" type="submit">Go to Date</button>
                        <a class="btn btn-primary ml-3" href="{{ url_for('menu.history', date=next_date) }}" disabled>Next Day</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <h4>Total Nutrients</h4>
                <p>Total Price: {{ total_price }} €</p>
                <p>Total Calories: {{ total_calories }} kcal</p>
                <p>Total Proteins: {{ total_proteins }} g</p>
                <p>Total Fats: {{ total_fats }} g</p>
                <p>Total Carbohydrates: {{ total_carbohydrates }} g</p>
            </div>
        </div>


        {% for meal in meals %}
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="row g-0 d-flex align-items-center">
                        <div class="col-lg-3 col-md-5">
                            <img src="{{ meal.image }}" class="card-img-top" alt="Meal image">
                        </div>
                        <div class="col-lg-7 col-md-5">
                            <div class="card-body">
                                <h5 class="card-title">{{ meal.meal.name }}</h5>
                                <p class="card-text">
                                    Portion: {{ meal.portion }} g<br>
                                    Price: {{ meal.price }} €<br>
                                    Calories: {{ meal.calories }} kcal<br>
                                    Proteins: {{ meal.proteins }} g<br>
                                    Fats: {{ meal.fats }} g<br>
                                    Carbohydrates: {{ meal.carbohydrates }} g
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 text-center">
                            {% if meal.blacklisted %}
                                <a class="btn btn-danger mb-sm-2" href="{{ url_for('blacklist.remove', meal_id=meal.meal.id, return_page='history', history_date=date)}}" role="button">Remove from blacklist</a>
                            {% else %}
                                <a class="btn btn-success mb-sm-2" href="{{ url_for('blacklist.add', meal_id=meal.meal.id, history_date=date) }}" role="button">Add to blacklist</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}