{%  extends 'base.html' %}

{% block head %}
    <title>Sign up</title>
{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Create account</a></li>
        </ul>
    </nav>
    <h1>Create an account</h1>
    <form action="#" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username"/>
        <label for="password">Password:</label>
        <input type="password" name="password"/>
        <label>
            Email:
            <input type="email" name="email"/>
        </label>
        <button type="submit">Submit</button>
    </form>
{% endblock %}