{%  extends 'base.html' %}

{% block head %}
    <title>Tasks</title>
{% endblock %}

{% block body %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <p>Hello, here you gonna see tasks</p>
    {% if current_user.is_authenticated %}
        email: {{ current_user.email }}
    {% endif %}
    {% for task in tasks %}
        <p>id: {{ task.id }}, description: {{ task.description }}</p>
    {% endfor %}
    {% for address in person.addresses %}
        <p>id: {{ address.id }}, address: {{ address.email }}</p>
    {% endfor %}
{% endblock %}